{% extends "base_encargado.html" %}
{% load static %}

{% block head %}
<title>Editar Producto</title>
<link rel="stylesheet" href="{% static 'encargado/css/entrada_stock.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Editar Empleado #{{ empleado.id }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'administrador:empleados' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
