@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

:root {
    --background-color: #ffffff;
    --prymary-color: #F7DA24;
    --secondary-color: #151515;
    --text-color: #000000;
    --border-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);

}

.register_page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

.register_page .right_register {

    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;

}


.form-group input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgba(21, 21, 21, 0.3);
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.register_page .left_register {
    position: relative;

    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;


}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 3rem 3rem 0;
    /* negro con 50% de transparencia */
}

.left_register .register-logo {
    width: 100%;
    height: 100%;
    padding: 0%;
    object-fit: cover;
    border-radius: 0 3rem 3rem 0;



}

.left_register .condiciones p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0.5rem 0;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

.left_register .register-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;

}

.register-contenedor h1 {
    font-family: "Tektur", "Roboto", sans-serif;
    font-size: 2rem;
    color: var(--prymary-color);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.register-contenedor p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 0 1rem;
}


.left_register img {
    top: 0;
    position: absolute;
    padding: 30px;
    width: 300px;

}

.register-box {
    width: 70%;
    height: 100%;

    border-radius: 6rem;
    box-shadow: 1 1rem 2rem var(--prymary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.registerform {

    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.registerform p {
    font-size: 11px;
    color: grey;
    margin-top: 0.3rem;
}

.registerform label {
    font-size: 15px;
    height: 12px;
}

.registerform h2 {

    height: 12px;
    width: 100%;
}


.CarneClick {
    width: 100%;


}

.registerform button {
    font-size: large;
    width: 200px;
    min-height: 50px;
    background-color: var(--prymary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    margin-top: 40px;
}

.registerform button:hover {
    background-color: white;
}

.form-group .login-link {

    color: grey;
    text-align: right;
    width: 100%;
}

@media (max-width: 840px) {
    .register_page {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    /* OCULTAR COMPLETAMENTE LEFT */
    .register_page .left_register {
        display: none;
    }

    /* RIGHT ocupa todo */
    .register_page .right_register {
        padding-top: 10rem;
        width: 100%;

    }

    .register_page .right_register .registerform {
        gap: 1rem;
    }


    .register-box {
        width: 90%;
    }

    .registerform {
        width: 100%;
    }

    .registerform button {
        width: 100%;
    }
}