{% extends "base_encargado.html" %}
{% load static %}

{% block head %}
<title>Clientes Pendientes</title>
{% endblock %}

{% block content %}
<div class="container my-5">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold">Clientes Actuales</h3>
        <small class="text-muted">Lista de usuarios que son clientes actuales</small>
    </div>

    <!-- Tabla responsive -->
    <div class="table-responsive shadow-sm rounded bg-white p-3">
        <table class="table table-hover align-middle" id="clientesTable">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in clientes %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <!-- Ver detalles -->
                        <a href="{% url 'encargado:ver_detalles_clientes' user.id %}" class="btn btn-primary btn-sm">
                            <i class="bi bi-eye"></i> Ver detalles
                        </a>
                        <a href="" class="btn btn-success btn-sm">
                            <i class="bi bi-eye"></i> Editar
                        </a>
                        <a href="" class="btn btn-success btn-sm">
                            <i class="bi bi-eye"></i> Eliminar
                        </a>


                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">No hay clientes pendientes</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
